@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "normalize.css";
main {
  width: 100%;
  min-height: 80vh;
  position: relative;
}
main .wrapper {
  margin: 0 auto;
}

body {
  background-color: #152f3d;
}

header {
  background-color: #152f3d;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  background-color: #152f3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.menu a {
  font-family: "Roboto", sans-serif;
  color: #00ffd7;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}